{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block main %}
    <h2>{{'title.comments' |trans}}</h2>
{% endblock %}