{% extends 'base.html.twig' %}

{% block title %}
    Start writing!
{% endblock %}

{% block body %}

    
        {# <div class="container-fluid w-100 h-100 d-inline-block mx-0 px-0 align-items-center"> #}
        
            <div class="row h-100">
                <div class="col-md-6 col-sm-12 left-box">
                    <h1>
                    Start<br>writing<br>now!
                    </h1>
                </div>
                <div class="login-register col-md-6 col-sm-12 right-box bg-white">
                
                </div>
            </div>
        {# </div> #}

{% endblock %}