{% extends 'base.html.twig' %}

{% block title %}
    Start writing!
{% endblock %}

{% block main %}

        <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 left-box">
                
                    <h1>
                    Start<br>writing<br>now!
                    </h1>
                </div>
                <div class="col-lg-6 login-register col-md-12 col-sm-12 right-box bg-white">
                    {% block register %}
                    <div class="login-form">
			<p class="form-title">Log in</p>
			<form
				id="form"
				class="form"
				action="login.php"
				method="post"
				autocomplete="on"
			>
				<div class="form-control">
					<label for="email">Email</label>
					<input
						type="email"
						placeholder="example@mail.com"
						id="email"
						name="email"
					/>
				</div>
				<div class="form-control">
					<label for="passwd">Password</label>
					<input
						type="password"
						placeholder="********"
						id="passwd"
						name="passwd"
					/>
				</div>
				<button type="submit">Submit</button>
			</form>
			<a href="register.html" class="form-signup-link"
				>Don't have an account? Sign up!</a
			>
                    {% endblock %}
                </div>
        </div>

{% endblock %}

