{% extends "./base.html.twig" %}

{% block title %}
  Write!
{% endblock %}

{% block main %}

			<form
        id="search"
        class="search-form"
        action="search.php"
        method="post"
        autocomplete="on"
      >
          
            <input
              type="search"
              placeholder="Search"
              id="search"
              name="search"
            />
          
				</form>

        <h2>See recent posts</h2>
{% endblock %}