{% extends "./base.html.twig" %}

{% block title %}
    {{ 'title.posts'|trans }}
{% endblock %}


{% block body %}
    <h1>{{ 'title.task_list'|trans }}</h1>
    <p class="author">{{'author.posts'}}</p>
    <p class="date">{{'createdAt.posts'}}</p>


{% endblock %}